html, body {
  min-height: 100vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.app {
  min-height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
}

.heading {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #FFF;
  background-color: #ef822b;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 10px;
  width: 100%;
}

.messageList {
  padding-top: 70px;
  padding-bottom: 70px;
}

.userMessage {
  text-align: right;
  padding: 10px;
  background-color: #ecf0f6;
  border-radius: 5px;
  margin-top: 5px;
}

.opponentMessage {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.messageText {
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
  background-color: #ffe598;
  padding: 5px 5px 5px 5px;
  font-size: 1.3em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888;
}

.userText {
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
  background-color: #8eb7f4;
  padding: 5px 5px 5px 5px;
  font-size: 1.3em;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #888;
  color: #EEE;
}

.messageTime {
  color: grey;
  margin-bottom: 5px;
  margin-top: 3px;
}

.statusBox {
  text-align: center;
  color: grey;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: 10px;
}

.sendForm {
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #FFF;
}

.numberInput {
  margin: 0;
  box-sizing: border-box;
  border: 0;
  padding: 10px;
  width: 70%;
  font-size: 1.3em;
  outline: none;
  background-color: #EEE;
  border-radius: 5px;
}

.sendButton {
  margin: 0;
  padding: 10px;
  width: 29%;
  margin-left: 1%;
  box-sizing: border-box;
  background: #8eb7f4;
  border: none;
  color: #EEE;
  font-size: 1.3em;
  border-radius: 5px;
}
